.centered-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centered-list > :first-child {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-list > :not(:first-child) {
  width: 100%;
  padding: 2rem;
}

.leaflet-container {
  background: var(--background-secondary);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: var(--background-secondary);
  color: var(--foreground);
  border: 1px solid;
}

.leaflet-control-zoom a {
  background-color: var(--background-secondary);
  color: var(--foreground);
}

.leaflet-control-zoom a:hover {
  background-color: var(--background-tertiary);
}

.leaflet-control-attribution {
  background: var(--background-secondary);
  color: var(--foreground-dimmed);
}
