name: Deploy Next.js website
on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js
        env:
          NEXT_PUBLIC_OPENMAPTILES_API_KEY: ${{ secrets.NEXT_PUBLIC_OPENMAPTILES_API_KEY }}
        run: npm run build

      - name: Archive production files
        run: tar -czf site.tar.gz .next package.json assets lib hooks

      - name: Copy files to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "site.tar.gz"
          target: "${{ secrets.DEPLOY_PATH }}"

      - name: Deploy on server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            tar -xzf site.tar.gz
            rm site.tar.gz
            npm install --omit=dev
            pm2 restart td-nextjs-website || pm2 start npm --name "td-nextjs-website" -- start